<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".EpharmaApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.EPharma"
        tools:targetApi="31">

        <!--
             TODO: Before you run your application, you need a Google Maps API key.

             To get one, follow the directions here:

                https://developers.google.com/maps/documentation/android-sdk/get-api-key

             Once you have your API key (it starts with "AIza"), define a new property in your
             project's local.properties file (e.g. MAPS_API_KEY=Aiza...), and replace the
             "YOUR_API_KEY" string in this file with "${MAPS_API_KEY}".
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBnHGNoiS7uqilxPTK_g_T4Ek87NfuYIVA" />

        <activity
            android:name=".LocateResturantActivity"
            android:exported="false"
            android:label="@string/title_activity_locate_resturant" />
        <activity
            android:name=".PrivacyPolicy"
            android:exported="false"
            android:label="@string/title_activity_privacy_policy"
            android:theme="@style/Theme.EPharma" />
        <activity
            android:name=".TermsAndCondition"
            android:exported="false"
            android:label="@string/title_activity_terms_and_condition"
            android:theme="@style/Theme.EPharma" />
        <activity
            android:name=".MapsActivity"
            android:exported="false"
            android:label="@string/title_activity_maps"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ItemScreen"
            android:exported="false"
            android:label="@string/title_activity_item_screen"
            android:theme="@style/Theme.EPharma" />
        <activity
            android:name=".EditScreen"
            android:exported="false"
            android:label="@string/title_activity_edit_screen"
            android:theme="@style/Theme.EPharma" />
        <activity
            android:name=".LoginActivity"
            android:exported="false"
            android:label="@string/title_activity_login"
            android:theme="@style/Theme.EPharma" />
        <activity
            android:name=".SignUpActivity"
            android:exported="false"
            android:label="@string/title_activity_sign_up"
            android:theme="@style/Theme.EPharma" />
        <activity
            android:name=".DashboardActivity"
            android:exported="false"
            android:label="@string/title_activity_dashboard"
            android:theme="@style/Theme.EPharma" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.EPharma">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>